@use '@styles/theme.module.scss';
@use '@components/mixins/arrow.module.scss' as *;

.pagination {
  $height: 2.5rem;

  &__fieldset {
    display: inline-flex;
    box-sizing: content-box;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: content;
    row-gap: 0;
    flex-wrap: nowrap;
    outline: none;

    &:last-child {
      margin-left: auto;
      flex-basis: 100%;
    }
  }

  &__button {
    display: block;
    box-sizing: content-box;
    height: $height;
    width: $height;
    border: none;
    border-radius: $height * 0.55;
    padding: 0;
    background: none;
    outline: none;
    cursor: pointer;
    position: relative;
    
    &_currentPage {
      background: linear-gradient(theme.$primary-gradient-color-1, theme.$primary-gradient-color-2);
    }

    &_dash {
      cursor: default;
    }
  
    &_previousPage {
      background: linear-gradient(theme.$secondary-gradient-color-1, theme.$secondary-gradient-color-2);

      &::after {
        content: '';
        position: absolute;
        @include arrowMixin(
          $height: $height * 0.4,
          $width: $height * 0.4,
          $background: theme.$primary-bg-color,
          $rotate: true,
          $right: 50%,
          $top: 50%
        );
      }
    }
  
    &_nextPage {
      background: linear-gradient(theme.$secondary-gradient-color-1, theme.$secondary-gradient-color-2);

      &::after {
        content: '';
        position: absolute;
        @include arrowMixin(
          $height: $height * 0.4,
          $width: $height * 0.4,
          $background: theme.$primary-bg-color,
          $rotate: false,
          $right: 50%,
          $top: 50%
        );
      }
    }
  }
}