mixin buttonMixin(props = {})
    -
        const {
        buttonName = 'buttonName',
        buttonTheme = 'primary_withArrow',
        buttonText = 'Click me', 
        buttonUrl = 'https://example.com'
        } = props

        const buttonClasses = `text_button_${buttonTheme} button_${buttonTheme}`
        const buttonEvent = `window.location.href='${buttonUrl}';`

    button.button(
        class = buttonClasses,
        name = buttonName,
        onClick = buttonEvent
        )= buttonText