mixin titleMixin(title, subtitle)
    if (title != '' && subtitle != '')
        legend.legend
            h3.text_h3 title
            span.text_h3.text_h3_regular subtitle
    if (title != '' && subtitle === '')
        legend.text_h3 title
