include ../../../components/TextField/TextField.pug
include ../../../components/Checkbox/Checkbox.pug
include ../../../components/RadioButton/RadioButton.pug
include ../../../components/Toggle/Toggle.pug
include ../../../components/LikeButton/LikeButton.pug
include ../../../components/RateButton/RateButton.pug
include ../../../components/Button/Button.pug
include ../../../components/Pagination/Pagination.pug
include ../../../components/RangeSlider/RangeSlider.pug

+textFieldMixin()
+checkboxMixin()
+radioButtonMixin()
+toggleMixin()
+likeButtonMixin()
+rateButtonMixin()
+buttonMixin()
+paginationMixin()
+rangeSliderMixin()