include ../mixins/errorMixin.pug
include ../Text/Text.pug

mixin inputFieldMixin(fieldMask, placeholder, inputName, isRequired, minLength, maxLength)
    if (fieldMask === 'text')
        input(
            type = 'text',
            name = inputName,
            placeholder = placeholder || '',
            isRequired,
            autocomplete = 'on',
            pattern = '/^[A-Za-zА-Яа-яЁё]+$/',
            minlength = minLength,
            maxlength = maxLength,
            inputmode = 'text'
            ).text-field__input
    if (fieldMask === 'email')
        input(
            type = 'email',
            name = inputName,
            placeholder = placeholder || 'Email',
            isRequired,
            autocomplete = 'on',
            minlength = minLength,
            maxlength = maxLength,
            inputmode ='email'
            ).text-field__input
    if (fieldMask === 'date')
        input(
            type = 'text',
            name = inputName,
            placeholder = placeholder || 'ДД.ММ.ГГГГ',
            isRequired,
            autocomplete = 'on',
            pattern = '/^(?:(?:31\.(?:(?:0[1,3,5,7,8]|1[02])\.|(?:0[1-9]|1[0-9]|2[0-9]|3[01])\.))|(?:29\.(0[1,3,4,5,6,7,8,9]|1[0-2])\.)|(?:29\.02\.(?:(?:(?:19|20)(?:[02468][048]|[13579][26])|(?:1[9][0-9]|[2-9][0-9])[048])|(?:[0-9]{5}00)))|(?:0[1-9]|1\d|2[0-8])\.(?:(?:0[1-9]|1[0-2])\.))\d{4}$/',
            minlength = minLength || 10,
            maxlength = maxLength || 10,
            inputmode = 'numeric'
            ).text-field__input
    if (fieldMask === 'password')
        input(
            type = 'password',
            name = inputName,
            placeholder = placeholder || 'Пароль',
            isRequired,
            autocomplete = 'on',
            pattern = '/^[A-Za-zА-Яа-яЁё0-9./|\\_]+$/',
            minlength = minLength,
            maxlength = maxLength,
            inputmode = 'text'
            ).text-field__input

mixin textFieldMixin(title = 'Заголовок', subtitle = 'Подзаголовок', fieldMask = 'text', placeholder = 'text', addButton = false, inputName = 'inputField', isRequired = 'required', minLength = '1', maxLength = '20')
    +errorFieldMixin(fieldMask, placeholder, addButton, maxLength)
    +titleMixin(title, subtitle)
    label.text-field__label
        +inputFieldMixin(fieldMask, placeholder, inputName, isRequired, minLength, maxLength)