@use '@styles/theme.module.scss';

.rate-button {
  $height: 1.429em;

  &__fieldset {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: $height * 0.2857;
    box-sizing: content-box;
    height: $height;
    border: none;
    padding: 0;
    margin: 0;
    transition: clip-path 0.1s ease-in-out;
  };

  &__input {
    appearance: none;
    display: block;
    box-sizing: border-box;
    flex-shrink: 0;
    height: $height;
    width: $height;
    cursor: pointer;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      height: $height;
      width: $height;
      clip-path: polygon( 50.039% 70.642%,68.804% 82.484%,63.878% 60.033%,80.532% 44.737%,58.483% 42.763%,50.039% 21.546%,41.595% 42.763%,19.546% 44.737%,36.2% 60.033%,31.274% 82.484%,50.039% 70.642%,100% 38.076%,72.791% 62.994%,81.001% 100%,50.039% 80.263%,19.077% 100%,27.287% 62.994%,0.078% 38.076%,35.966% 34.868%,50.039% 0.082%,64.113% 34.868%,100% 38.076% );
      background: linear-gradient(theme.$primary-gradient-color-1, theme.$primary-gradient-color-2);
    };

    &:checked,
    &:checked ~ & {
      &::after {
        clip-path: polygon( 50.039% 80.263%,19.077% 100%,27.287% 62.994%,0.078% 38.076%,35.966% 34.868%,50.039% 0.082%,64.113% 34.868%,100% 38.076%,72.791% 62.994%,81.001% 100%,50.039% 80.263% );
      };
    };

    &:hover,
    &:hover ~ & {
      &::after {
        clip-path: polygon( 50.039% 80.263%,19.077% 100%,27.287% 62.994%,0.078% 38.076%,35.966% 34.868%,50.039% 0.082%,64.113% 34.868%,100% 38.076%,72.791% 62.994%,81.001% 100%,50.039% 80.263% );
      };
    };

    &:checked + &:hover,
    &:checked + &:hover ~ &,
    &:checked ~ &:hover,
    &:checked ~ &:hover ~ &,
    &:hover ~ &:checked,
    &:hover ~ &:checked ~ & {
      &::after {
        background: theme.$border-default-color;
      };
    };

    &:focus-visible {
      outline-style: solid;
      outline-color: theme.$border-hovered-and-focused-color;
      outline-width: $height * 0.05;
    };
  };
};
