@use './vars.module.scss';

$primary-color: vars.$purple-1;
$primary-bg-color: vars.$white;
$secondary-bg-color: vars.$dark-shade-10;

$font-color-100: vars.$dark-shade-100;
$font-color-75: vars.$dark-shade-75;
$font-color-50: vars.$dark-shade-50;
$font-color-25: vars.$dark-shade-25;

$primary-gradient-color-1: vars.$purple-1;
$primary-gradient-color-2: vars.$purple-2;

$secondary-gradient-color-1: vars.$green;
$secondary-gradient-color-2: vars.$blue;

$border-default-color: vars.$dark-shade-25;
$border-hovered-and-focused-color: vars.$dark-shade-50;
$border-checked-color: vars.$purple-1;